footer {
    padding-block: 5rem;

    & .information {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        & .lists {
            display: flex;
            gap: 4rem;

            .link-primary {
                color: var(--brand-color-primary);
                text-transform: uppercase;
                font: var(--fw-medium) .75rem/100% var(--ff-inter);
            }

            ul {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }

    & .social {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 5rem;

        & .links {
            display: flex;
            gap: 1.5rem;
        }

        & span {
            font: var(--fw-regular) var(--fw-sm)/1.5rem var(--ff-inter);
            color: var(--text-color-secondary);
        }
    }
}

@media (width <= 768px) {
    footer {
        & .information {
            flex-direction: column;
            gap: 3rem;
    
            & .lists {
                flex-wrap: wrap;
            }
        }
    
        & .social {
            flex-direction: column;
            gap: 1.5rem;
            align-items: flex-start;
        }
    }
}